body {
    background-color: #9b8a50; /* Golden mustard yellow */
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', serif; /* Medieval-inspired font */
}

h1, h2 {
    font-family: 'Blackletter', serif;
    color: #800020; /* Burgundy */
    text-align: center;
    border-bottom: 2px solid #ffd700; /* Gold border */
    padding-bottom: 5px;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
}

a {
    font-family: 'Gothic', serif;
    color: #f4edef; /* Burgundy */
    text-decoration: none;
    transition: color 0.3s ease; /* Smooth color transition */
}

a:hover {
    color: #ffd700; /* Gold on hover */
}

img {
    display: block;
    margin: 0 auto; /* Center the image horizontally */
    width: 250px; /* Set the width to your desired size */
    height: auto; /* Maintain aspect ratio */
    border-radius: 100px;
    max-height: 250px;
    border: 1px solid black;
    padding: 5px;
}

